<div style="width: 100%;">
    <dmb-header></dmb-header>
    <div class="landing section">
        <div class="overlay"></div>
        <div class="center">
            <img style="width: 15%; min-width: 250px;" src="/assets/DMB-Logo-Chrome.png" />
            <div style="margin-top: 100px;">
                <h4 class="cursive" style="margin: 10px;">The dealer that makes a difference</h4>
                <img style="width: 12%; min-width: 175px; margin-top: 40px" src="/assets/The-Collection.png" />
            </div>
        </div>
    </div>

    <div class="stock">
        <dmb-stock></dmb-stock>
    </div>

    <div class="consignment section">
        <div class="overlay"></div>
        <div class="center" style="color: white;">
            <h1 class="title-header">Sales Consignment Available</h1>
            <div class="small-text mid-container" style="margin: auto; line-height: 30px;">
                <p style="font-weight: 300;">Get in touch to find out more.</p>
            </div>
        </div>
    </div>

    <div class="details section">
        <div class="overlay"></div>
        <div class="center" style="color: white;">
            <h1 class="title-header">We Know Supercars</h1>
            <div class="mid-container small-text" style="margin: auto; line-height: 30px;">
                <p>Our Director since 1998 has been at the very forefront of the sports car world.</p>
                <p>At our dealership, we’re committed to providing quality service to
                    all of our customers – from first-time
                    buyers to experienced vehicle owners.
                    Our financing options make it easy for everyone to buy the vehicle of their dreams.</p>
            </div>
        </div>
    </div>

    <div class="business section">
        <div class="overlay"></div>
        <div class="center" style="color: white;">
            <img style="max-width: 50%;" src="/assets/DSC07435-2-599x400.jpg">
            <div class="mid-container" style="margin: auto; line-height: 30px; margin-top: 10px;">
                <h4 class="header">Dean</h4>
                <p style="font-weight: 300;">DMB Director</p>
                <p><i>The dealer that makes a difference.</i></p>
                <div>

                </div>
            </div>
        </div>
    </div>

    <!-- <div class="contact section">
        <div class="horizontal-divider"></div>
    </div> -->

    <div class="footer">
        <div style="color: #EFEFEF; padding: 1px 20px;">
            <p>Copyright DMB.</p>
        </div>
    </div>
</div>