<div class="header-bar" [ngClass]="{ 'fade': fade }" #header [@fadeInOut]="fade ? 'in' : 'out'">
    <div class="upper-container">
        <div class="logo">
            <img src="/assets/dmb-collection.png" />
        </div>
        <div class="horizontal-divider"></div>
    </div>
    <div class="navigation">
        <div class="top-spacer"></div>
        <button class="nav-button flat-button">STOCK</button>
        <button class="nav-button flat-button">SELL YOUR CAR</button>
        <button class="nav-button flat-button">CONTACT US</button>
    </div>
</div>